extends layout

block content
  main#main.site-main.main
    section.hero
      .container
        h1.display-1.text-bold.mb-1 Sell themes
        h5.text-gray-soft.text-regular Build your Bootstrap themes business on the official theme store.
        a.btn.btn-brand.mb-2.mb-sm-0.d-flex.d-sm-inline-flex.justify-content-center(href='/sign/') Apply to sell themes
    section.section.mt-5.mt-md-0
      .container
        .row.align-items-center.justify-content-between.pb-0.pb-lg-4
          .col-lg-6.mb-4.mb-lg-0.order-lg-2
            img.img-fluid.mx-auto.d-block(src='/images/icon/fun.png', alt='')
          .col-lg-5.order-lg-1
            h1.mb-2.text-bold Reach every topic.
            p.fs-16.text-gray-soft
              | Building incredible themes is hard work, but building a customer base is too. Being on Bootstrap Themes means your theme is visible to every Bootstrap user. Our goal is to help you build a successful business.
        hr.d-lg-none.my-5
        .row.align-items-center.justify-content-between.py-0.py-lg-4
          .col-lg-6.mb-4
            img.img-fluid.mx-auto.d-block(src='/images/icon/enjoy.png', alt='')
          .col-lg-5
            h1.mb-2.text-bold You’re in good company.
            p.fs-16.text-gray-soft
              | We’re collecting the best Bootstrap themes ever created. We care about design, code quality, and support. If you’re up for the challenge, you’ll be featured as one of a few dozen themes, rather than competing with 1000’s of others.
        hr.d-lg-none.my-5
        .row.align-items-center.justify-content-between.py-0.py-lg-4
          .col-lg-5.mb-3.mb-lg-0
            h1.mb-2.text-bold Simple, fair commission.
            p.fs-16.text-gray-soft
              | Other marketplaces take 65% or more of your earnings, or have incredibly complicated tier systems for commission structure. Ours is simple to understand, and fair to creators of themes.
          .col-lg-6
            .card.card--table
              .card-body.rounded-top
                .card__item
                  h6.mb-0 Non-exclusives
                  p.mb-0.text-gray-soft
                    | You earn 
                    b.text-primary 45%
                .card__item
                  h6.mb-0 Exclusives
                  p.mb-0.text-gray-soft
                    | You earn 
                    b.text-primary 70%
                .card__item
                  h6.mb-0 Exclusives with sales over 50k
                  p.mb-0.text-gray-soft
                    | You earn 
                    b.text-primary 80%
              a.btn.btn-brand.btn-block.btn-lg.rounded-bottom(href='/home/') Find more about commissions
