
body {
    background-color: black;
}
#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}
#landing-header h1 {
  color: white;
}
.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 30s linear infinite; 
}
.slideshow li:nth-child(1) { 
  background-image: url(/images/amber_heard_hot_2-wallpaper-1920x1080.jpg);
}
.slideshow li:nth-child(2) { 
  background-image: url(/images/Barbara-Palvin-desktopsky_65646.jpg);
  animation-delay: 6s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(/images/Cara-Delevingne-02_1920x1200.jpg);
  animation-delay: 12s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(/images/emma_watson_on_a_chair-wallpaper-2560x1440.jpg);
  animation-delay: 18s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(/images/Nina-Dobrev_desktopsky_70.jpg);
  animation-delay: 24s; 
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    16% {
        opacity: 1
    }

    24% {
        opacity: 0
    }
}